table {
	margin: 0;
	padding: 0;
	background-color: #595959;
	font-family: arial;
	font-size: 12px;
	color: #A4A4A4;
}

table th {
	font-weight: normal;
	text-align: left;
	font-size: 18px;
}

.yellow {
	color: #F3E2A9;
}

.red {
	font-weight: bold;
	color: #F41B38;
}

.left-col {
	color: #FFFFFF;
	font-style: italic;
	padding-right: 20px;
}

a {
	text-decoration: none;
}

#status {
	color: #71B47A;
	font-size: 26px;
}

#orange {
	color: #D66B1D;
	font-weight: bold;
}